In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('Tweet stream.xlsx')
# this has 1.6million tweets containing apple stock

In [3]:
df1.head()

,Tweet Id,Date,Hour,User Name,Nickname,Bio,Tweet content,Favs,RTs,Latitude,...,Listed,Tweet language (ISO 639-1),Tweet Url,Is a RT,Original Tweet User Name,User Mentions,Hashtags,Symbols,Media,URLs
0,743056393796739072,2016-06-15,12:23,Sufiy,Sufiy,#Investing as a way of life based on common se...,RT @kirillklip: Race for #renewable #energy #t...,NaN,4.0,NaN,...,537.0,da,http://www.twitter.com/Sufiy/status/7430563937...,True,@kirillklip,@kirillklip,"#renewable,#energy,#technologies,#lithium,#hed...","$LIT,$ILV.v,$TSLA,$AAPL",NaN,http://www.bnn.ca/News/2016/5/7/Race-for-renew...
1,743055905214889984,2016-06-15,12:21,Breaking News,HotpageNews,One Stop Shop for BREAKING AND TRENDING NEWS. ...,#APPLE TRIES to Limit #Google Incursions Onto ...,NaN,NaN,42.35843,...,163.0,en,http://www.twitter.com/HotpageNews/status/7430...,False,NaN,NaN,"#APPLE,#Google","$AAPL,$GOOG",NaN,http://hotpagenews.com/r/150730
2,743055905193857024,2016-06-15,12:21,Hotpage News,Hotpage_News,The One Stop WEBSITE for Breaking and Trending...,#APPLE TRIES to Limit #Google Incursions Onto ...,NaN,NaN,NaN,...,427.0,en,http://www.twitter.com/Hotpage_News/status/743...,False,NaN,NaN,"#APPLE,#Google","$AAPL,$GOOG",NaN,http://hotpagenews.com/r/150730
3,743055497725673472,2016-06-15,12:20,Danny,TraderDanny77,"Family Man, entrepreneur, wanna be trader, Tha...",What calls do I sell on $twtr\n\n$spy $aapl $g...,NaN,NaN,46.47747,...,5.0,en,http://www.twitter.com/TraderDanny77/status/74...,False,NaN,NaN,NaN,"$twtr,$spy,$aapl,$googl,$tsla,$ibm,$wba,$scty,...",NaN,NaN
4,743055311909441536,2016-06-15,12:19,Jayson,hovastocks,Father | Investor in life | Runner | Cyclist,Good for $AAPL pay? https://t.co/6EuitFi8Au,NaN,NaN,NaN,...,20.0,en,http://www.twitter.com/hovastocks/status/74305...,False,NaN,NaN,NaN,$AAPL,NaN,https://twitter.com/businessinsider/status/742...

In [4]:
df1 = df1.drop([
    'Hour', 'User Name', 'Nickname', 'Bio', 'Favs', 'RTs', 'Latitude',
    'Longitude', 'Country', 'Place (as appears on Bio)', 'Profile picture',
    'Following', 'Listed', 'Tweet language (ISO 639-1)', 'Tweet Url',
    'Is a RT', 'Original Tweet User Name', 'User Mentions', 'Hashtags',
    'Symbols', 'Media', 'URLs'
],
               axis=1)

In [5]:
# this is the coloumns after dropping
df1.columns

Index(['Tweet Id', 'Date', 'Tweet content', 'Followers'], dtype='object')

In [6]:
#View of df after dropping
df1.head()

,Tweet Id,Date,Tweet content,Followers
0,743056393796739072,2016-06-15,RT @kirillklip: Race for #renewable #energy #t...,1798
1,743055905214889984,2016-06-15,#APPLE TRIES to Limit #Google Incursions Onto ...,222
2,743055905193857024,2016-06-15,#APPLE TRIES to Limit #Google Incursions Onto ...,16177
3,743055497725673472,2016-06-15,What calls do I sell on $twtr\n\n$spy $aapl $g...,87
4,743055311909441536,2016-06-15,Good for $AAPL pay? https://t.co/6EuitFi8Au,387

In [7]:
# this is the code for extracting the date and cumulatively taking the tweets for the entire day and taking the sum of its followers in that day

datadict={}
followerdict={}
datelist=df1.Date.unique()
count=0
temp=[]
follower_count=0
for i in range(len(df1.index)):
    if datelist[count]==df1.iloc[i]['Date']:
        temp.append(df1.iloc[i]['Tweet content'])
        follower_count+=df1.iloc[i]['Followers']
    else:
        datadict[datelist[count]]=temp
        followerdict[datelist[count]]=follower_count
        count+=1
        temp=[]
        follower_count=0
        temp.append(df1.iloc[i]['Tweet content'])
        follower_count+=df1.iloc[i]['Followers']

In [8]:
#seeing the number of tweets for one particular day, i.e. 2016-06-07
len(datadict['2016-06-07'])

376

In [9]:
datadict.keys()

dict_keys(['2016-06-15', '2016-06-14', '2016-06-07', '2016-06-06', '2016-06-05', '2016-06-04', '2016-06-03', '2016-06-02', '2016-06-01', '2016-05-31', '2016-05-30', '2016-05-29', '2016-05-28', '2016-05-27', '2016-05-26', '2016-05-25', '2016-05-24', '2016-05-23', '2016-05-22', '2016-05-21', '2016-05-20', '2016-05-19', '2016-05-18', '2016-05-17', '2016-05-16', '2016-05-15', '2016-05-14', '2016-05-13', '2016-05-12', '2016-05-11', '2016-05-10', '2016-05-09', '2016-05-08', '2016-05-07', '2016-05-06', '2016-05-05', '2016-05-04', '2016-05-03', '2016-05-02', '2016-05-01', '2016-04-30', '2016-04-29', '2016-04-28', '2016-04-27', '2016-04-26', '2016-04-25', '2016-04-24', '2016-04-23', '2016-04-22', '2016-04-21', '2016-04-20', '2016-04-19', '2016-04-18', '2016-04-17', '2016-04-16', '2016-04-15', '2016-04-14', '2016-04-13', '2016-04-12', '2016-04-11', '2016-04-10', '2016-04-09', '2016-04-08', '2016-04-07', '2016-04-06', '2016-04-05', '2016-04-04', '2016-04-03', datetime.datetime(2016, 4, 2, 0, 0)])

In [10]:
len(df1.Date.unique())

70

In [11]:
df1.Date.unique()

array(['2016-06-15', '2016-06-14', '2016-06-07', '2016-06-06',
       '2016-06-05', '2016-06-04', '2016-06-03', '2016-06-02',
       '2016-06-01', '2016-05-31', '2016-05-30', '2016-05-29',
       '2016-05-28', '2016-05-27', '2016-05-26', '2016-05-25',
       '2016-05-24', '2016-05-23', '2016-05-22', '2016-05-21',
       '2016-05-20', '2016-05-19', '2016-05-18', '2016-05-17',
       '2016-05-16', '2016-05-15', '2016-05-14', '2016-05-13',
       '2016-05-12', '2016-05-11', '2016-05-10', '2016-05-09',
       '2016-05-08', '2016-05-07', '2016-05-06', '2016-05-05',
       '2016-05-04', '2016-05-03', '2016-05-02', '2016-05-01',
       '2016-04-30', '2016-04-29', '2016-04-28', '2016-04-27',
       '2016-04-26', '2016-04-25', '2016-04-24', '2016-04-23',
       '2016-04-22', '2016-04-21', '2016-04-20', '2016-04-19',
       '2016-04-18', '2016-04-17', '2016-04-16', '2016-04-15',
       '2016-04-14', '2016-04-13', '2016-04-12', '2016-04-11',
       '2016-04-10', '2016-04-09', '2016-04-08', '2016-04-07',
       '2016-04-06', '2016-04-05', '2016-04-04', '2016-04-03',
       datetime.datetime(2016, 4, 2, 0, 0), '2016-04-02'], dtype=object)

In [12]:
for i in datadict.keys():
    datadict[i]="".join(datadict[i])

In [13]:
# datadict['2016-04-06']

In [14]:
def get_nrc_data():
    nrc = "NRC-emotion-lexicon-wordlevel-alphabetized-v0.92.txt"
    count=0
    emotion_dict=dict()
    with open(nrc,'r') as f:
        all_lines = list()
        for line in f:
            if count < 46:
                count+=1
                continue
            line = line.strip().split('\t')
            if int(line[2]) == 1:
                if emotion_dict.get(line[0]):
                    emotion_dict[line[0]].append(line[1])
                else:
                    emotion_dict[line[0]] = [line[1]]
    return emotion_dict


def emotion_analyzer(text,emotion_dict=get_nrc_data()):
    #Set up the result dictionary
    emotions = {x for y in emotion_dict.values() for x in y}
    emotion_count = dict()
    for emotion in emotions:
        emotion_count[emotion] = 0

    #Analyze the text and normalize by total number of words
    total_words = len(text.split())
    for word in text.split():
        if emotion_dict.get(word):
            for emotion in emotion_dict.get(word):
                emotion_count[emotion] += 1/len(text.split())
    return emotion_count

def comparative_emotion_analyzer(text_tuples,object_name="Tweets",print_output=False):
    if print_output:
        print("%-20s %1s\t%1s %1s %1s %1s   %1s %1s %1s %1s"%(object_name,
                                                              "fear","trust","negative","positive",
                                                              "joy","disgust","anticip", "sadness",
                                                              "surprise"))
    import pandas as pd
    df = pd.DataFrame(columns=[object_name,'Fear','Trust','Negative',
                           'Positive','Joy','Disgust','Anticipation',
                           'Sadness','Surprise'],)
    df.set_index(object_name,inplace=True)
    
    output = df    
    for text_tuple in text_tuples:
        text = text_tuple[1] 
        result = emotion_analyzer(text)
        if print_output:
            print("%-20s %1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f"%(
                text_tuple[1][0:20],result['fear'],result['trust'],
                  result['negative'],result['positive'],result['joy'],result['disgust'],
                  result['anticipation'],result['sadness'],result['surprise']))
        df.loc[text_tuple[0]] = [result['fear'],result['trust'],
                  result['negative'],result['positive'],result['joy'],result['disgust'],
                  result['anticipation'],result['sadness'],result['surprise']]
    return output

In [15]:
df1 = pd.DataFrame(columns=['Fear','Trust','Negative',
                           'Positive','Joy','Disgust','Anticipation',
                           'Sadness','Surprise','follower_count'])
for i in datadict.keys():
#     print(i)
    df=comparative_emotion_analyzer([[i,datadict[i]]],object_name='Apple Tweets',print_output=False)
    df1=df1.append(df,ignore_index=False)

df1.head()

C:\Users\bvash\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Anticipation,Disgust,Fear,Joy,Negative,Positive,Sadness,Surprise,Trust,follower_count
2016-06-15,0.006228,0.001465,0.002931,0.001465,0.005251,0.009647,0.003419,0.001221,0.005129,NaN
2016-06-14,0.008983,0.000876,0.005916,0.003944,0.006792,0.022349,0.003944,0.003067,0.007011,NaN
2016-06-07,0.010428,0.001259,0.003955,0.001618,0.006832,0.010787,0.001978,0.001259,0.008270,NaN
2016-06-06,0.005579,0.001064,0.003640,0.003144,0.005720,0.007848,0.002742,0.002175,0.005886,NaN
2016-06-05,0.005217,0.002888,0.003540,0.005217,0.007266,0.018258,0.005776,0.003167,0.009502,NaN

In [16]:
for i in followerdict.keys():
    df1.follower_count.loc[i]=followerdict[i]

C:\Users\bvash\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [17]:
df1.head()

,Anticipation,Disgust,Fear,Joy,Negative,Positive,Sadness,Surprise,Trust,follower_count
2016-06-15,0.006228,0.001465,0.002931,0.001465,0.005251,0.009647,0.003419,0.001221,0.005129,2947684
2016-06-14,0.008983,0.000876,0.005916,0.003944,0.006792,0.022349,0.003944,0.003067,0.007011,3026367
2016-06-07,0.010428,0.001259,0.003955,0.001618,0.006832,0.010787,0.001978,0.001259,0.008270,1530620
2016-06-06,0.005579,0.001064,0.003640,0.003144,0.005720,0.007848,0.002742,0.002175,0.005886,15696585
2016-06-05,0.005217,0.002888,0.003540,0.005217,0.007266,0.018258,0.005776,0.003167,0.009502,3516671

In [18]:
from pandas_datareader import data as web
import datetime
start=datetime.datetime(2016, 3, 10)
end=datetime.datetime(2016, 6, 15)
print(start,end)

dfyahoo= web.DataReader(['AAPL','GOOGL'], 'yahoo', start, end)
rets = dfyahoo['Open'].pct_change()

2016-03-10 00:00:00 2016-06-15 00:00:00

In [19]:
import numpy as np
df1['Pct_change']=np.nan
# [i[:9] for i in rets.index.values()]

In [20]:
a=[str(i)[:10] for i in rets.index.values]

In [21]:
for i in followerdict.keys():
    if i in a:
        df1.Pct_change.loc[i]=rets.AAPL.loc[i]

C:\Users\bvash\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [22]:
df1.head()

,Anticipation,Disgust,Fear,Joy,Negative,Positive,Sadness,Surprise,Trust,follower_count,Pct_change
2016-06-15,0.006228,0.001465,0.002931,0.001465,0.005251,0.009647,0.003419,0.001221,0.005129,2947684,0.005138
2016-06-14,0.008983,0.000876,0.005916,0.003944,0.006792,0.022349,0.003944,0.003067,0.007011,3026367,-0.013882
2016-06-07,0.010428,0.001259,0.003955,0.001618,0.006832,0.010787,0.001978,0.001259,0.008270,1530620,0.012858
2016-06-06,0.005579,0.001064,0.003640,0.003144,0.005720,0.007848,0.002742,0.002175,0.005886,15696585,0.002045
2016-06-05,0.005217,0.002888,0.003540,0.005217,0.007266,0.018258,0.005776,0.003167,0.009502,3516671,NaN

In [23]:
df1.head()

,Anticipation,Disgust,Fear,Joy,Negative,Positive,Sadness,Surprise,Trust,follower_count,Pct_change
2016-06-15,0.006228,0.001465,0.002931,0.001465,0.005251,0.009647,0.003419,0.001221,0.005129,2947684,0.005138
2016-06-14,0.008983,0.000876,0.005916,0.003944,0.006792,0.022349,0.003944,0.003067,0.007011,3026367,-0.013882
2016-06-07,0.010428,0.001259,0.003955,0.001618,0.006832,0.010787,0.001978,0.001259,0.008270,1530620,0.012858
2016-06-06,0.005579,0.001064,0.003640,0.003144,0.005720,0.007848,0.002742,0.002175,0.005886,15696585,0.002045
2016-06-05,0.005217,0.002888,0.003540,0.005217,0.007266,0.018258,0.005776,0.003167,0.009502,3516671,NaN

In [24]:
df2=pd.read_excel('google-stream1.xlsx')

In [25]:
df2.head()

,Tweet Id,Date,Hour,User Name,Nickname,Bio,Tweet content,Favs,RTs,Latitude,...,Listed,Tweet language (ISO 639-1),Tweet Url,Is a RT,Original Tweet User Name,User Mentions,Hashtags,Symbols,Media,URLs
0,743031249682477057,2016-06-15,10:43,kimweeks,kimweeks77,NaN,RT @johnscharts: Similar to $GOOGL: $NFLX is s...,NaN,2.0,NaN,...,7.0,en,http://www.twitter.com/kimweeks77/status/74303...,True,@johnscharts,@johnscharts,NaN,"$GOOGL,$NFLX",http://pbs.twimg.com/media/Ck_Gw_nWgAISZ37.jpg,NaN
1,743031012406394880,2016-06-15,10:42,BullishChartPatterns,johnscharts,Chart pattern trader. Tweeting with friends an...,Similar to $GOOGL: $NFLX is showing reversal s...,3.0,2.0,37.54812,...,87.0,en,http://www.twitter.com/johnscharts/status/7430...,False,NaN,NaN,NaN,"$GOOGL,$NFLX",http://pbs.twimg.com/media/Ck_Gw_nWgAISZ37.jpg,NaN
2,743030242688696321,2016-06-15,10:39,Advertising News,AdNewsUS,The World of Advertising and Marketing Ideas,"#consumer, #jobs New #OT rules | ""OVERTIME: It...",NaN,NaN,NaN,...,93.0,en,http://www.twitter.com/AdNewsUS/status/7430302...,False,NaN,@YouTube,"#consumer,#jobs,#OT",$GOOGL,NaN,https://youtu.be/UFJaDm720FU
3,743029037858234368,2016-06-15,10:35,ProTradersNews,ProTradersNews,News for Pro Traders,$GOOGL:\n\nIs Dallas the Next Destination for ...,NaN,NaN,NaN,...,103.0,en,http://www.twitter.com/ProTradersNews/status/7...,False,NaN,NaN,NaN,$GOOGL,NaN,http://www.StockNewsWires.com/2016/06/15/googl...
4,743028676883779584,2016-06-15,10:33,dailystockplays.com,DailyStockPlays,"Live Day Trading Calls, Daily Swing Trading Li...",Unusual Call Activity https://t.co/4jDlRqXapi ...,NaN,NaN,37.25022,...,120.0,en,http://www.twitter.com/DailyStockPlays/status/...,False,NaN,NaN,NaN,"$KR,$WFT,$LOW,$PYPL,$MGM,$VXX,$GLD,$IYR,$LVS,$...",NaN,http://www.dailystockplays.com/Unusual-Call-Op...

In [27]:
df2=df2.drop(['Hour', 'User Name', 'Nickname', 'Bio', 'Favs', 'RTs', 'Latitude', 'Longitude', 'Country',
       'Place (as appears on Bio)', 'Profile picture',
       'Following', 'Listed', 'Tweet language (ISO 639-1)', 'Tweet Url',
       'Is a RT', 'Original Tweet User Name', 'User Mentions', 'Hashtags',
       'Symbols', 'Media', 'URLs'], axis=1)

In [28]:
df2.head()

,Tweet Id,Date,Tweet content,Followers
0,743031249682477057,2016-06-15,RT @johnscharts: Similar to $GOOGL: $NFLX is s...,52
1,743031012406394880,2016-06-15,Similar to $GOOGL: $NFLX is showing reversal s...,2530
2,743030242688696321,2016-06-15,"#consumer, #jobs New #OT rules | ""OVERTIME: It...",3177
3,743029037858234368,2016-06-15,$GOOGL:\n\nIs Dallas the Next Destination for ...,806
4,743028676883779584,2016-06-15,Unusual Call Activity https://t.co/4jDlRqXapi ...,4864

In [29]:
datadict={}
followerdict={}
datelist=df2.Date.unique()
count=0
temp=[]
follower_count=0
for i in range(len(df2.index)):
    if datelist[count]==df2.iloc[i]['Date']:
        temp.append(df2.iloc[i]['Tweet content'])
        follower_count+=df2.iloc[i]['Followers']
    else:
        datadict[datelist[count]]=temp
        followerdict[datelist[count]]=follower_count
        count+=1
        temp=[]
        follower_count=0
        temp.append(df2.iloc[i]['Tweet content'])
        follower_count+=df2.iloc[i]['Followers']

In [30]:
for i in datadict.keys():
    datadict[i]="".join(datadict[i])

In [31]:
def get_nrc_data():
    nrc = "NRC-emotion-lexicon-wordlevel-alphabetized-v0.92.txt"
    count=0
    emotion_dict=dict()
    with open(nrc,'r') as f:
        all_lines = list()
        for line in f:
            if count < 46:
                count+=1
                continue
            line = line.strip().split('\t')
            if int(line[2]) == 1:
                if emotion_dict.get(line[0]):
                    emotion_dict[line[0]].append(line[1])
                else:
                    emotion_dict[line[0]] = [line[1]]
    return emotion_dict


def emotion_analyzer(text,emotion_dict=get_nrc_data()):
    #Set up the result dictionary
    emotions = {x for y in emotion_dict.values() for x in y}
    emotion_count = dict()
    for emotion in emotions:
        emotion_count[emotion] = 0

    #Analyze the text and normalize by total number of words
    total_words = len(text.split())
    for word in text.split():
        if emotion_dict.get(word):
            for emotion in emotion_dict.get(word):
                emotion_count[emotion] += 1/len(text.split())
    return emotion_count

In [32]:
def comparative_emotion_analyzer(text_tuples,object_name="Tweets",print_output=False):
    if print_output:
        print("%-20s %1s\t%1s %1s %1s %1s   %1s %1s %1s %1s"%(object_name,
                                                              "fear","trust","negative","positive",
                                                              "joy","disgust","anticip", "sadness",
                                                              "surprise"))
    import pandas as pd
    df = pd.DataFrame(columns=[object_name,'Fear','Trust','Negative',
                           'Positive','Joy','Disgust','Anticipation',
                           'Sadness','Surprise'],)
    df.set_index(object_name,inplace=True)
    
    output = df    
    for text_tuple in text_tuples:
        text = text_tuple[1] 
        result = emotion_analyzer(text)
        if print_output:
            print("%-20s %1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f\t%1.2f"%(
                text_tuple[1][0:20],result['fear'],result['trust'],
                  result['negative'],result['positive'],result['joy'],result['disgust'],
                  result['anticipation'],result['sadness'],result['surprise']))
        df.loc[text_tuple[0]] = [result['fear'],result['trust'],
                  result['negative'],result['positive'],result['joy'],result['disgust'],
                  result['anticipation'],result['sadness'],result['surprise']]
    return output

In [33]:
df2 = pd.DataFrame(columns=['Fear','Trust','Negative',
                           'Positive','Joy','Disgust','Anticipation',
                           'Sadness','Surprise','follower_count'])
coubt=0
for i in datadict.keys():
    df1=comparative_emotion_analyzer([[i,datadict[i]]],object_name='google Tweets',print_output=False)
    df2=df2.append(df1,ignore_index=False)

df2.head()

C:\Users\bvash\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Anticipation,Disgust,Fear,Joy,Negative,Positive,Sadness,Surprise,Trust,follower_count
2016-06-15,0.001800,0.001800,0.000900,0.000000,0.009001,0.004500,0.000000,0.001800,0.002700,NaN
2016-06-14,0.007916,0.000609,0.001827,0.005074,0.008930,0.010757,0.002030,0.005277,0.009539,NaN
2016-06-13,0.012598,0.000900,0.005399,0.005174,0.006974,0.026772,0.002475,0.004274,0.016423,NaN
2016-06-12,0.008077,0.008582,0.003534,0.001514,0.019687,0.008582,0.001514,0.001514,0.004543,NaN
2016-06-11,0.007812,0.001465,0.004883,0.002930,0.011719,0.009277,0.003418,0.003906,0.005859,NaN

In [34]:
for i in followerdict.keys():
    df2.follower_count.loc[i]=followerdict[i]

C:\Users\bvash\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [35]:
df2.head()

,Anticipation,Disgust,Fear,Joy,Negative,Positive,Sadness,Surprise,Trust,follower_count
2016-06-15,0.001800,0.001800,0.000900,0.000000,0.009001,0.004500,0.000000,0.001800,0.002700,212332
2016-06-14,0.007916,0.000609,0.001827,0.005074,0.008930,0.010757,0.002030,0.005277,0.009539,4413122
2016-06-13,0.012598,0.000900,0.005399,0.005174,0.006974,0.026772,0.002475,0.004274,0.016423,2652364
2016-06-12,0.008077,0.008582,0.003534,0.001514,0.019687,0.008582,0.001514,0.001514,0.004543,647515
2016-06-11,0.007812,0.001465,0.004883,0.002930,0.011719,0.009277,0.003418,0.003906,0.005859,744268

In [36]:
import numpy as np
df2['Pct_change']=np.nan
# [i[:9] for i in rets.index.values()]

In [37]:
# d='2016-03-10T00:00:00.000000000'
# date=pd.to_datetime(d).date()
# date
a=[str(i)[:10] for i in rets.index.values]

In [38]:
for i in followerdict.keys():
    if i in a:
        df2.Pct_change.loc[i]=rets.GOOGL.loc[i]

C:\Users\bvash\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [39]:
df2.head()

,Anticipation,Disgust,Fear,Joy,Negative,Positive,Sadness,Surprise,Trust,follower_count,Pct_change
2016-06-15,0.001800,0.001800,0.000900,0.000000,0.009001,0.004500,0.000000,0.001800,0.002700,212332,0.007692
2016-06-14,0.007916,0.000609,0.001827,0.005074,0.008930,0.010757,0.002030,0.005277,0.009539,4413122,-0.000699
2016-06-13,0.012598,0.000900,0.005399,0.005174,0.006974,0.026772,0.002475,0.004274,0.016423,2652364,-0.008329
2016-06-12,0.008077,0.008582,0.003534,0.001514,0.019687,0.008582,0.001514,0.001514,0.004543,647515,NaN
2016-06-11,0.007812,0.001465,0.004883,0.002930,0.011719,0.009277,0.003418,0.003906,0.005859,744268,NaN

In [40]:
rets.head()

Symbols         AAPL     GOOGL
Date
2016-03-10       NaN       NaN
2016-03-11  0.008185  0.016708
2016-03-14 -0.003228  0.006784
2016-03-15  0.020116  0.001410
2016-03-16  0.006252  0.004062

In [41]:
df3=df1.append(df2)

C:\Users\bvash\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [42]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 2016-03-30 to 2016-03-30
Data columns (total 11 columns):
Anticipation      77 non-null float64
Disgust           77 non-null float64
Fear              77 non-null float64
Joy               77 non-null float64
Negative          77 non-null float64
Pct_change        53 non-null float64
Positive          77 non-null float64
Sadness           77 non-null float64
Surprise          77 non-null float64
Trust             77 non-null float64
follower_count    76 non-null float64
dtypes: float64(11)
memory usage: 7.2+ KB

In [43]:
df3.to_csv('final_data.csv')